@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@font-face {
    font-family: 'CascadiaCode';
    src: url('/fonts/CascadiaCode.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select {
        @apply w-full rounded border-gray-400 focus:border-blue-500 focus:ring-blue-500;
    }

    [type='checkbox'], [type='radio'] {
        @apply text-blue-500 focus:ring-blue-600;
    }
}

@layer components {
    .btn-blue {
        @apply px-5 py-3 rounded-lg bg-do-blue-light hover:bg-do-blue-medium active:bg-do-blue-mediumdark active:text-sky-400 text-white font-bold focus:outline-dotted focus:outline-1 focus:outline-do-blue-dark;
    }

    .btn-white {
        @apply border border-gray-400 px-5 py-3 rounded-lg focus:outline-dotted focus:outline-1 focus:bg-sky-100;
    }

    .btn-white-blue {
        @apply px-5 py-3 rounded-lg bg-white active:bg-gray-200 font-medium border text-do-blue-light focus:outline-dotted focus:outline-1 focus:outline-do-blue-lighter;
    }

    .btn-gray {
        @apply px-3 py-3 bg-gray-200 hover:bg-gray-300 rounded-lg;
    }

    .panel {
        @apply bg-white rounded-lg shadow-lg px-5 py-5;
    }
}

